<h1>Create Team Membership</h1>
<%= form_for(@team_membership) do |f| %>
	<%= f.collection_select :team_id, Team.all, :id, :name %>
	<%= f.collection_select :employee_id, Employee.all, :id, :name %>
	<br>
	<%= f.submit %>
<% end %>